* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.App {
  /*text-align: center;*/
  margin: 0 5% 20px 5%;
}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}*/

/*.App-intro {
  font-size: large;
}
*/
h1,
h2,
h3,
h4 {
  font-weight: 400;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/
/* Nav */

.header {
  background-color: #1f2035;
  box-sizing: border-box;
  /*color: white;*/
}

/*.title:after {
  clear: both;
}*/

.header-main,
.header-contact {
  color: #f5ffa6; /*#d8f2e1;*/
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.contact {
  /*color: #6666e0;*/
  /*font-size: 1.35em;*/
  padding: 12px 0;
  text-align: center;
}

.contact a:link,
.contact a:visited {
  color: #fff;
  text-decoration: none;
  display: block;
}

/* Posts */
.filter-sort {
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  padding: 15px;
  border: 1px solid #6b9590;
  border-radius: 8px;
  /*background-color: #e0e2f2;*/
}

.col-50p {
  width: 100%;
}

.posts-container {
  padding: 15px;
  background-color: #cceae7;
}

/* Post */
.categories-list,
.post-list,
.sort-key-list,
.comments-list {
  list-style-type: none;
}

.categories-list li,
.sort-key-list li {
  padding-left: 8px;
}

.post-list-item {
  background-color: #99d5cf;
  margin-top: 12px;
  padding: 10px;
  border-radius: 8px;
}

.post-detail {
  background-color: #99d5cf;
  padding: 10px;
}

.voteScore,
.timestamp {
  padding-left: 5px;
}

.is-active-sort,
.is-active-category {
  border: 3px solid #d6ff94;
  border-radius: 2px;
}

.is-active-category {
  width: 100px;
}

.comment-is-active-sort {
  border: 3px solid #c0e585;
  border-radius: 2px;
}


.comments-list-item {
  background-color: #b7e1dd; /*#cceae7;*/
  margin-top: 12px;
  padding: 5px 10px;
  border-radius: 8px;
}

/* Post Detail */
.post-detail-sect {
  padding: 15px;
}

.comments-container {
  margin-top: 8px;
  padding: 15px;
  background-color: #d6eeeb; /*#eaf6f5;*/
  border-radius: 5px;
}

/* Form */
.form-container {
  background-color: #cceae7;
  padding: 15px;
}

.button {
  height: 25px;
  font-size: 14px;
  margin-right: 3px;
  padding: 0 5px;
  border-radius: 5px;
  border-style: none;
  background-color: #fff;
}

.button:hover {
  background-color: #f4fafa;
}

input {
  width: calc(100% - 34px);
  height: 25px;
  padding-left: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #999;
}

textarea {
  width: calc(100% - 34px);
  height: 60px;
  padding-left: 8px;  
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #999;
}

select,
option {
  height: 25px;
  font-size: 14px;  
}

input:focus,
select:focus,
option:focus,
textarea:focus {
  outline: none !important;
  border:1px solid #c0e585; /*#d6ff94;*/
  box-shadow: 0 0 10px #c0e585; /*#d6ff94; #d6ff94;*/
}

@media (min-width: 768px) {

  .header {
    background-color: #1f2035;
    height: 70px;
  }

  .header-main,
  .header-contact {
    float: left;
    display: inline-block;
  }

  .header-main,
  .header-contact {
    width: calc(50% - 30px / 2);
  }

  .header-main {
    margin-top: 15px;
    margin-left: 15px;
    text-align: left;
  }

  .header-contact {
    text-align: right;
    vertical-align: top;
    margin-top: 8px;
    margin-right: 15px;
  }

  .contact {
    padding-bottom: 12px;
    text-align: right;
  }

  .contact a:link,
  .contact a:visited {
    padding-left: 12px;
    display: inline;
  }

  .col-50p {
    width: 50%;
  }

}
